*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    text-transform: capitalize;
    list-style: none;
    box-sizing: border-box;
}
body,html{
    color: aliceblue;
    overflow: hidden;
}
.bx{cursor: none;}
a{cursor: none;}
.head{
    display: flex;
    align-items: center;
    justify-content:space-between;
    /* font-size: 2rem; */
    padding: 0rem 2rem 0rem 1rem;
}
.suko{
    font-size: 2rem;
    font-weight: 1000;
}
nav{
    height: 1.5rem;
    color: aqua;
    display: flex;
    width: 30rem;
    justify-content: center;
    overflow: hidden;
    align-items: flex-start;
    font-size: larger;
    gap: 2rem;
    /* background-color: #fff; */
}
ul{
      transition: transform .5s ease-in;

  }
  .icon{
    font-size: 2rem;
  }

.game_container{
    width: 100%;
    height: 100vh;
    position: absolute;
    display: none;
    top: 0;
    z-index: -3;
    overflow: hidden;
    transition: 2s;
}

.game_container img{
    width: 100%;
    height: 100%;
    position: absolute;
}

.game_container .game_detale{
    font-size: 5rem;
    position: absolute;
    top: 5rem;
    left: 1rem;
}
.game_world{
    overflow: hidden;
}
.bxs-sun:hover{
    animation: sun .7s alternate linear;
}
#sun{
    transition: .5s;
}
@keyframes sun {
    0%{transform: rotate(0deg);}
    /* 50%{transform: rotate(180deg);} */
    100%{transform: rotate(180deg);}
}
.bxs-moon{
    position: absolute;
    top: 7px;
    right: 114px;
    transform: scale(0);
    transition: .5s;
}
.profile_box{
    position: relative;
    background-color: #dbd9d9c3;
    height: 19rem;
    width: 14rem;
    /* gap: 2rem; */
    transform: translateX(-251px);
    transition: 2s;
    border-radius: 2rem;
    right: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.profile_boxs{
    position: relative;
    background-color: #dbd9d9c3;
    height: 19rem;
    width: 14rem;
    /* gap: 2rem; */
    transform: translateX(10px);
    transition: 2s;
    border-radius: 2rem;
    right: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#user{
    font-size: 6rem;
}
.form h1{
    color: #756f6f;
    font-size: 1rem;
    margin-left: -12px;
    margin-top: 1rem;
}
.form input{
    border-radius: 1rem;
    color: #000;
    background-color: #ffffffdf;
    outline: none;
    border: none;
    padding: .5rem 1rem;
}
input:hover{
    box-shadow: 0px 0px 10px #b0afafb2;
}
.profile_box button{
    padding: .5rem 1.5rem;
    border: none;
    margin-top: 2rem;
    border-radius: 2rem;
    background-color:transparent;
    border: 2px solid #363fe8;
}
button:hover a{color: azure; font-weight: bolder;}
button:hover{
    background-color: #363fe8;
}
@media (max-width:1024px) {
    .game_detale{
        padding: 0rem 0rem 0rem 3rem;
        font-size: 4rem;
    }
}
p{
    width: 80%;
font-size: 1.5rem;
text-transform: lowercase;
/* color: rgba(252, 249, 249, 0.658); */
font-weight: lighter;
}
.take_name{
    font-size: x-large;
    display: flex;
    width: 12rem;
    height: auto;
    /* overflow: hidden; */
    align-items: center;
    /* text-decoration: underline; */
    padding: 3rem 0rem 0rem 0rem;
}

.take_name a{
    position: relative;
    color: aliceblue;
}

.take_name a:after{
    content: '';
    position: absolute;
    height: 1px;
    width: 100%;
    border-radius: 1rem;
    height: 3px;
    left: 0;
    top: 100%;
    background: #fff;
    transition: 0.5s;
    transform-origin: bottom right;
}

.take_name:hover a::after{
    transform: scaleX(0);
}

.hidden_arrow{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 0.8rem;
    height: 0.8rem;
    border: 1px solid #fff;
    border-radius: 50%;
    overflow: hidden;
    transition: 0.5s;
}

.hidden_arrow::after{
    content: '';
    position: absolute;
    width: inherit;
    height: inherit;
    background: #fff;
    transform: scale(0);
    border-radius: 50%;
    transition: 0.5s;
    z-index: -1;
}

.take_name:hover .hidden_arrow::after,
.take_name:hover .hidden_arrow{
    transform: scale(3);
    border: none;
    margin-right: 1rem;
    text-decoration: none;
}

.hidden_arrow i{
    transform: translateX(-100%);
    transition: 0.5s;
    /* background: #fff; */
}

.take_name:hover i{
    transform: translateX(0) scale(0.3);

}

.arrow{
    width: 100%;
    position: absolute;
    /* bottom: 0; */
    display: flex;
    align-items: center;
    font-size: 3rem;
    justify-content: space-evenly;
    padding: 5rem 3rem 0rem 0rem;
}
.requrid{
    display: flex;
    font-size: 1rem;
    gap: 1.5rem;
    font-weight: lighter;
    align-items: center; 
}
.line{
    width: 20rem;
    height: .4rem;
    overflow: hidden;
    border-radius: .5rem;
    background-color: #fff;
}
.lines{
    width: 20rem;
    height: .4rem;
    border-radius: .5rem;
    background-color: #787676;
    transform: translateX(100%);
}
.back_video{
    width: 100%;
    height: 100vh;
    background-color: #000;
}
.bx-left-arrow-alt,
.bx-right-arrow-alt:nth-of-type(2){
    background-color: #4e47477b;
    padding: 0.7rem;
    border-radius: 50%;
}
#menu{ visibility: hidden;}
.bx-left-arrow-alt:hover{background-color: #ebe7e77b;}
.bx-right-arrow-alt:nth-of-type(2):hover{background-color: #ebe7e77b;}
@media (max-width:770px) {
    nav{display: none;}
    #menu{ visibility: visible; }
    .game_detale{
        padding: 2rem 0rem 0rem 0rem;
        font-size: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    p{ width: 70%; }
    .arrow{ padding: 1rem 0rem 0rem 0rem; }
}
@media (max-width:560px) {
    .requrid{ display: none; }
    .arrow{
        gap: 13rem;
        font-size: 1.5rem;
    }
}
@media (max-width:375px) {.take_name{display: none;}}
.loader{
    width: 100%;
    height: 110vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #121212;
    z-index: 100;
    top: -355px;
    flex-direction: column-reverse;
}
.type{
    color: aqua;
    padding-top: -10rem;
    padding-left: 30rem;
}
.bxl-spring-boot{
font-size: 5rem;
transform: translateY(-10px);
animation: spring 2s infinite linear ;
transition: 1s;
}
@keyframes spring {
    0%{transform: translateY(0px);}
   /* 25%{transform: scale(.8);} */
    /* 50%{transform: translateX(-40px);} */
    100%{transform: translateY(10px);}
    /* 100%{transform: translatex(80px);} */
}
@media (max-width:1030px) {
    .type{
        padding-left:20rem ;
    }
}
@media (max-width:770px) {
    .type{
        padding-left:11rem ;

    }
}
@media (max-width:680px) {
    .type{
        padding-left:10rem ;
    }
.requrid{visibility: hidden;}
}
@media (max-width:430px) {
    .type{
        padding-left:2rem ;
    }
}
.custom-cursor {
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none; 
    z-index: 9999;
}

.cursor-icon {
    width: 32px; 
    height: 32px; 
    background-color: #000; 
    border-radius: 50%; 
    opacity: 0.5; 
}

body{
    cursor: none;
}


    