*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    text-transform: capitalize;
    list-style: none;
    box-sizing: border-box;
}
body,html{
    color: rgb(32, 32, 32);
    overflow-x: hidden;
}
body::-webkit-scrollbar{
    width: 10px;
}
body::-webkit-scrollbar-thumb{
    background-color: #a3a2a2;
    border-radius: 1rem;
}
.bx{cursor: pointer;}
#profile{display: none;}
.head{
    display: flex;
    align-items: center;
    justify-content:space-between;
    /* font-size: 2rem; */
    padding: 0rem 2rem 0rem 1rem;
}
.suko{
    font-size: 2rem;
    font-weight: 1000;
}
nav{
    height: 1.5rem;
    color: aqua;
    display: flex;
    width: 30rem;
    justify-content: center;
    overflow: hidden;
    align-items: flex-start;
    font-size: larger;
    gap: 2rem;
    /* background-color: #fff; */
}
ul{
      transition: transform .5s ease-in;

  }
  .icon{
    font-size: 2rem;
  }
.bxs-sun:hover{
    animation: sun .7s alternate linear;
}
#sun{
    transition: .5s;
}
@keyframes sun {
    0%{transform: rotate(0deg);}
    /* 50%{transform: rotate(180deg);} */
    100%{transform: rotate(180deg);}
}
.bxs-moon{
    position: absolute;
    top: 7px;
    right: 73px;
    transform: scale(0);
    transition: .5s;
}
.service_tap .anime_4{
    width: 100%;
    position: absolute;
    z-index: -100;
    top: 0;
    height: 30rem;
}
.service_tap .anime_2{
    display: none;
}
.service_tap{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.program{
    /* background-color: #fff; */
    padding: 5rem;
 font-size: 1rem;
    color: rgb(208, 213, 213);
}
#menu{
    visibility: hidden;
}
.program h1{
    padding-left: 12rem;
}
.program p{
 font-size: 3rem;
}
.box{
    width: 100%;
    height: 30rem;
    background-color: #bdbaba;
}
.grid_box{
    display: grid;
    grid-gap: 2rem;
    padding-top: 2rem;
    padding-left: 15rem;
    grid-template-columns: repeat(3,320px);
    grid-auto-rows: 200px ;
}
.grid_container{
    border-radius: 1rem;
    overflow: hidden;
    font-size: .8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 10px #edecec;
    background-color: #cdc9c9;
}
/* .dark{
    background-color: #000;
    width: 100%;
    height: 3rem;
} */
.grid_container p{
    width: 90%;
    font-size: .8rem;
}
@media (max-width:940px) {
    nav{display: none;}
    #menu{ visibility: visible; }
}
.page_project{
    width: 100%;
    height: 100dvh;
    background-color: #e0dede;
}
.project{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
}
.talk{
    margin-top: 6.5rem;
    padding: 1rem 3rem;
    font-size: 2rem;
    border-radius: 4rem;
    display: flex;
    align-items: center;
    background-color: transparent;
    color: #383839;
    transition: 1s;
    border: 1px solid #1a1a1a;
}
span{font-weight:50;}
.bx-right-arrow-alt{
    font-size: 3rem;
    transition: 1s;

    font-weight: bolder;
}
.talk:hover{
    border: 1.5px solid #ed7936;
    color: #ed7936;
}
.talk:hover i{
    color: #ed7936;
}
.project_grid{
    display: grid;
    justify-content: center;
    padding-top: 2rem;
    grid-template-columns: repeat(4,250px);
    grid-auto-rows:200px ;

    grid-gap: 1rem;
}
.grid_pro{
    /* background-color:#000; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.grid_pro h1{
    padding-top: 2rem;
}
.grid_pro  a {
    margin-right: 2rem;
    color: #a3a2a2;
}
.grid_pro  p {
    margin-right: 5rem;
}
#project{
    background-color:#494848;
    padding: .5rem;
    border-radius: 50%;
}
#project:hover{
    animation: project 1s infinite linear;
}
@keyframes project {
    0%{transform: translateY(0px);}
    100%{transform: translateY(-10px);}
}
.line{
    background-color: #080808;
    height: .1rem;
    width: 13rem;
    border-radius: 1rem;
}
.img_edit{display: flex;
    justify-content: center;
}
.edit{
    cursor: pointer;
    background-color: #fff;
    border: 2px solid #f9f9f9;
    border-radius: 2rem;
    overflow: hidden;
    width: 10%;
    height: 300px;
    /* filter: drop-shadow(10px 10px 20px #000); */
}
.edit img{
    width: auto;
    height: 100%;
    filter: grayscale(100%);
}
.edit:hover{
    width: 400px;
} 

.edit:hover img{
    width: 100%;
    filter: grayscale(0%);

    height: 100%;
}

.custom-cursor {
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none; 
    z-index: 9999;
}

.cursor-icon {
    width: 32px;
    height: 32px; 
    background-color: #000; 
    border-radius: 50%;
    opacity: 0.5; 
}
body{
    cursor: none;
    }